/* navBar */
/* banner */
/* footer */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 12px;
	font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
picture{
	width: 100%;
}
a {
	text-decoration: none;
	border: none;
	
}
li {
	list-style: none;
}
.container {
	max-width: calc(1600px + 10%);
	padding: 0px 5%;
	height: 100%;
	margin: auto;	
}
h1 , h2 , p , h3{
	margin: 0;
}
input{
	display: none;
}

.link-animation-right{
	transition: 0.5s;
	position: relative;
	right: 0px;
	
}
.link-animation-left{
	transition: 0.5s;
	position: relative;
	left: 0px;
}

a:hover{
	// .link-animation-right{
	// 	transition: 0.5s;
	// 	position: relative;
	// 	right: 5px;
	// 	text-decoration: underline;
		
	// }
	.link-animation-left{
		transition: 0.5s;
		position: relative;
		left: 5px;
		

	}
}
nav{
	.container{
		.nav-frame{
			width: 100%;
			height: 54px;
			position: relative;
			display: flex;
			justify-content: space-between;
			a{
				color: black;
			}
			
			.nav-left {
				a:hover{
					text-decoration: underline;
				}
				height: 100%;
				display: flex;
				align-items: center;
				.style {
					margin: 0 8px;
				}
				.logo {
					width: 108px;
					height: 100%;
					background-image: url(../img/img_icon/microsoft.jpg);
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					margin-left: 13px;
				}
			}
			.nav-right {
				a:hover{
					text-decoration: underline;
				}
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.all-microsoft-frame{
					display: flex;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					position: relative;
					.down-arrow {
						width: 16px;
						height: 16px;
						background-image: url(../img/img_icon/下箭頭.jpg);
						background-size: contain;
						background-position: center;
						margin-top: 5px;
						margin-right: 25px;
						text-decoration: none;	
					}
				}
				.drop-down-menu{
					display: none;
					width: 1230px;
					height: 395px;
					position: absolute;
					top: 54px;
					right: 50px;
					background-color: #f2f2f2;
					z-index: 1;
					
					.footer-frame {
						width: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						.footer-style{
							width: 16.66%;
							ul{
								margin: 0px;
								padding: 0px;
								.footer-text-title{
									margin: 18px 0px 18px 24px;
									font-size: 15px;
									line-height: 20px;
									font-weight: 600;
								}
								li{
									color: #616161;
									margin: 12px 0px 12px 24px;
								}
							}
						}
						
					}
					.website-map{
						width: 100%;
						height: 36px;
						background-color: #e6e6e6;
						display: flex;
						justify-content: center;
						align-content: flex-end;
						border-bottom: black 3px solid;
						.map-link{
							width: 270px;
							height: 36px;
							display: flex;
							justify-content: center;
							align-content: center;
							display: flex;
							justify-content: center;
							align-items: center;
							.buy-rightnow{
								margin-right: 5px;
							}	
						}
						a:hover{
							#weight{
								text-decoration: none;
							}
						}
					}
				}
				#drop-down-menu:checked + .drop-down-menu{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
				}
				.all-microsoft-frame:hover{
					text-decoration: underline;
				}
				.search-icon {
					width: 16px;
					height: 16px;
					background-image: url(../img/img_icon/搜尋.jpg);
					background-size: contain;
					background-position: center;
					margin-right: 40px;
				}
				.cart-icon {
					width: 16px;
					height: 16px;
					background-image: url(../img/img_icon/購屋車.jpg);
					background-size: contain;
					background-position: center;
					margin-right: 10px;
				}
				.login-icon {
					width: 32px;
					height: 32px;
					background-image: url(../img/img_icon/帳號.jpg);
					background-size: contain;
					background-position: center;
					margin-right: 10px;
				}
			}
		}
	}
}
main{
	a{
		color: #0067b8;
	}
	.bannerA {
		width: 100%;
		height: 100%;	
		position: relative;
			picture{
				width: 100%;
					img{
						width: 100%;
					}
			}
			#fake-bannerA{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				.left-img{
					visibility: hidden;
					background-image: url(../img/img_icon/左箭頭.png);
					position: absolute;
					top: 50%;
					left: 0px;
					transform: translate(0 , -50%);
				}
				.right-img{
					visibility: hidden;
					background-image: url(../img/img_icon/右箭頭.png);
					position: absolute;
					top: 50%;
					right: 0px;
					transform: translate(0 , -50%);
				}
				.arrow-style{
					width: 42px;
					height: 42px;
					background-size: contain;
					background-position: center;
					border-radius: 50%;
					box-shadow: 0px 0px 2px 2px inset rgba(0,0,0,.3) ;
					
				}
				.container-percent {
					width: 90%;;
					height: 100%;
					margin: auto;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					
					.text-group{
						height: 140px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: flex-start;
						.text-title{
							
							font-weight: bolder;
							font-size: 34px;
							line-height: 40px;
						}
						.text-contain{
							font-size: 15px;
							line-height: 20px;
							padding: 12px 0 0;
							font-weight: 400;
	
						}
						.shopping-frame{
							width: 124px;
							height: 40px;
							
							background-color: black;
							color: white;
							// margin-top: 24px;
							display: flex;
							justify-content: center;
							align-items: center;
							.buy-rightnow{
								font-size: 15px;
								
							}
							.buy-right-arrow{
								font-size: 15px;
							}
						}
						.shopping-frame:hover{
							.link-animation-right{
								transition: 0.5s;
								position: relative;
								right: 5px;
								text-decoration: underline;
								
							}
						}
						
	
						
					
					}
				
				}	
			}
			#fake-bannerA:hover{
				.left-img{
					visibility: visible;
					background-image: url(../img/img_icon/左箭頭.png);
					position: absolute;
					top: 50%;
					left: 0px;
					transform: translate(0 , -50%);
				}
				.right-img{
					visibility: visible;
					background-image: url(../img/img_icon/右箭頭.png);
					position: absolute;
					top: 50%;
					right: 0px;
					transform: translate(0 , -50%);
				}
			}
	}
	.shopping-link-frame{
		width: 100%;
		height: 129px;
		margin-top: 45px;
		// background-color: yellow;
		display: flex;
		justify-content: center;
		align-items: center;
			.choose365{
				width: 184px;
				height: 112px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				// background-color: red;
				padding-top: 15px;
					.img365{
						width: 40px;
						height: 40px;
						background-image: url(../img/img_icon/365photo-icon.png);
						margin-bottom: 8px;
					}
					.text365{
						text-align: center;
					}
			}		
			.choose365:hover{
				.text365{
					text-decoration: underline;
				}
			}	
				
			
			.choose-surface{
				width: 184px;
				height: 92px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				// background-color: blueviolet;
					.img-surface{
						width: 40px;
						height: 40px;
						background-image: url(../img/img_icon/surface-photo.png);
						margin-bottom: 8px;
					}
			}		
			.choose-surface:hover{
				.text-surface{
					text-decoration: underline;
				}
					
			}
			.choose-windows10{
				width: 184px;
				height: 92px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				// background-color: cadetblue;
					.img-windows10{
						width: 40px;
						height: 40px;
						background-image: url(../img/img_icon/win10-photo.jpg);
						margin-bottom : 8px;
					}
			}
			.choose-windows10:hover{
				.text-windows10{
					text-decoration: underline;
				}
			
			
			}
	}
	.cardA{
		width: 100%;
		// height: 382px;
		margin-top: 48px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.card{
			width: 23.875%;
			max-width:  383px;
			.card-text-frame{
				width: 100%;
				margin-top: 37px;
				.card-link-frame{
					margin-top: 10px;
					a{
						margin-right: 16px;
					}
				}
				.a-frame{
					margin-right:3px; 
					margin-top: 10px;
				}
				
			}
			.card-img1{
				width: 100%; //383px
				max-height: 214px;
				height:auto;
				background-image: url(../img/img_icon/laptop-go.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				
				
				
			}
			.card-img2{
				width: 100%;
				height: 214px;
				background-image: url(../img/img_icon/365photo.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;	
			}
			.card-img3{
				width: 100%;
				height: 214px;
				background-image: url(../img/img_icon/xbox.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			.card-img4{
				width: 100%;
				height: 214px;
				background-image: url(../img/img_icon/edge.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	.bannerB{
		width: 100%;
		height: 600px;
		padding-top: 48px;	
		position: relative;
		picture{
			width: 100%;
				img{
					width: 100%;
				}
		}
		#fake-bannerA{
			position: absolute;
			top: 0;
			left: 0;
			.container-percent {
				width: 90%;;
				height: 100%;
				margin: auto;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.text-group{
					height: 140px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					.text-title{
						font-weight: bolder;
						font-size: 34px;
						line-height: 40px;
					}
					.text-contain{
						font-size: 15px;
						line-height: 20px;
						padding: 12px 0 0;
						font-weight: 400;
					}
					.shopping-frame{
						width: 124px;
						height: 40px;
						background-color: black;
						color: white;
						// margin-top: 24px;
						display: flex;
						justify-content: center;
						align-items: center;
						.buy-rightnow{
							font-size: 15px;
						}
						.buy-right-arrow{
							font-size: 15px;
						}
					}
					.shopping-frame:hover{
						.link-animation-right{
							transition: 0.5s;
							position: relative;
							right: 5px;
							text-decoration: underline;	
						}
					}
				}
			}	
		}
	}
	.cardB-title{
		width: 100%;
		height: 32px;
		margin-top: 48px;
		margin-bottom: 20px;
		h2{
			font-size: 24px;
			line-height: 28px;
			padding: 36px 0 4px;
			font-weight: 600;
			padding-top: 0;
		}
	}
	.cardB{
		width: 100%;
		height: 397.5px;
		
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		
		.card{
			width: 382px;
			height: 100%;
			.card-text-frame{
				width: 100%;
				margin-top: 37px;
				.card-link-frame{
					margin-top: 10px;
					a{
						margin-right: 16px;
					}
				}
				.a-frame{
					margin-right:3px; 
					margin-top: 10px;
				}
				
			}
			.card-img1{
				width: 382px;
				height: 214px;
				background-image: url(../img/img_icon/laptop4.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			.card-img2{
				width: 382px;
				height: 214px;
				background-image: url(../img/img_icon/microsoft-team.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;	
			}
			.card-img3{
				width: 382px;
				height: 214px;
				background-image: url(../img/img_icon/microsoft365-business.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			.card-img4{
				width: 382px;
				height: 214px;
				background-image: url(../img/img_icon/four-people.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
	.social-media-link{
		width: 100%;
		height: 32px;
		margin-top: 48px;
		display: flex;
		justify-content: flex-start;
		align-content: center;
		span{
			margin-right: 12px; 
			font-size: 15px;
			line-height: 32px;
			color: rgba(0,0,0,.6);
			display: flex;
			align-content: center;
		}
		
		a:hover{
			.mask{
				transition: 0.5s;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.2);
			}
		}
		
		.fb-link{
			width: 32px;
			height: 32px;
			background-image: url(../img/img_icon/fb_microsoft.png);
			margin-right: 12px; ;
			.mask{
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0);
			}
		}
		.yt-link{
			width: 32px;
			height: 32px;
			background-image: url(../img/img_icon/youtube-microsoft.png);
			margin-right: 12px; ;
			
			.mask{
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0);
			}
		}
	}
}
footer{
	
	background: #f2f2f2;
	margin-top: 48px;
	.footer-frame {
		a:hover{
			text-decoration: underline;
		}
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.footer-style{
			width: 16.66%;
			ul{
				margin: 0px;
				padding: 0px;
				.footer-text-title{
					margin: 36px 0px 4px;
					font-size: 15px;
					line-height: 20px;
					font-weight: 600;
				}
				li{
					color: #616161;
					padding: 8px 0;
				}
			}
		}
		
	}
	.footer-base{
		width: 100%;
		height: 72px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.language{
			width: 109.25px;
			height: 24px;
			display: flex;
			justify-content: flex-start;
			align-content: center;

			.earth-size{
				
				margin-right: 10px;	
				display: flex;
				align-items: center;
				font-size: 20px;
				line-height: 24px;
				
			}
			span{
				display: flex;
				align-items: center;
				
			}
		}
		.language:hover{
			.earth-size{
				text-decoration: unset;
			}
			span{
				text-decoration: underline;
			}
		}
		ul{
			display: flex;
			justify-content: space-between;
			align-content: center;
			li{
				margin: 0px 24px 4px 0px;
				
			}
		}
	}
}

@media(max-width:1600px)
{
	.container{
		
	}
	.nav-right {
		height: 100%;
		
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.all-microsoft-frame{
			display: flex;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;
			.down-arrow {
				width: 16px;
				height: 16px;
				background-image: url(../img/img_icon/下箭頭.jpg);
				background-size: contain;
				background-position: center;
				margin-top: 5px;
				margin-right: 25px;
				text-decoration: none;	
			}
		}
		.drop-down-menu{
			display: none;
			width: 1230px;
			height: 395px;
			position: absolute;
			top: 54px;
			right: 50px;
			background-color: #f2f2f2;
			z-index: 1;
			
			.footer-frame {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				.footer-style{
					width: 16.66%;
					ul{
						margin: 0px;
						padding: 0px;
						.footer-text-title{
							margin: 18px 0px 18px 24px;
							font-size: 15px;
							line-height: 20px;
							font-weight: 600;
						}
						li{
							color: #616161;
							margin: 12px 0px 12px 24px;
						}
					}
				}
				
			}
			.website-map{
				width: 100%;
				height: 36px;
				background-color: #e6e6e6;
				display: flex;
				justify-content: center;
				align-content: flex-end;
				border-bottom: black 3px solid;
				.map-link{
					width: 270px;
					height: 36px;
					display: flex;
					justify-content: center;
					align-content: center;
					display: flex;
					justify-content: center;
					align-items: center;
					.buy-rightnow{
						margin-right: 5px;
					}	
				}
				a:hover{
					.buy-right-arrow.weight{
						text-decoration: none;
					}
				}
			}
		}
		#drop-down-menu:checked + .drop-down-menu{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		.all-microsoft-frame:hover{
			text-decoration: underline;
		}
		.search-icon {
			width: 16px;
			height: 16px;
			background-image: url(../img/img_icon/搜尋.jpg);
			background-size: contain;
			background-position: center;
			margin-right: 40px;
		}
		.cart-icon {
			width: 16px;
			height: 16px;
			background-image: url(../img/img_icon/購屋車.jpg);
			background-size: contain;
			background-position: center;
			margin-right: 10px;
		}
		.login-icon {
			width: 32px;
			height: 32px;
			background-image: url(../img/img_icon/帳號.jpg);
			background-size: contain;
			background-position: center;
			margin-right: 10px;
		}
	}
}
