@charset "UTF-8";
/* navBar */
/* banner */
/* footer */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

picture {
  width: 100%;
}

a {
  text-decoration: none;
  border: none;
}

li {
  list-style: none;
}

.container {
  max-width: calc(1600px + 10%);
  padding: 0px 5%;
  height: 100%;
  margin: auto;
}

h1, h2, p, h3 {
  margin: 0;
}

input {
  display: none;
}

.link-animation-right {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  right: 0px;
}

.link-animation-left {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  left: 0px;
}

a:hover .link-animation-left {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  left: 5px;
}

nav .container .nav-frame {
  width: 100%;
  height: 54px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .nav-frame a {
  color: black;
}

nav .container .nav-frame .nav-left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .nav-frame .nav-left a:hover {
  text-decoration: underline;
}

nav .container .nav-frame .nav-left .style {
  margin: 0 8px;
}

nav .container .nav-frame .nav-left .logo {
  width: 108px;
  height: 100%;
  background-image: url(../img/img_icon/microsoft.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 13px;
}

nav .container .nav-frame .nav-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .container .nav-frame .nav-right a:hover {
  text-decoration: underline;
}

nav .container .nav-frame .nav-right .all-microsoft-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

nav .container .nav-frame .nav-right .all-microsoft-frame .down-arrow {
  width: 16px;
  height: 16px;
  background-image: url(../img/img_icon/下箭頭.jpg);
  background-size: contain;
  background-position: center;
  margin-top: 5px;
  margin-right: 25px;
  text-decoration: none;
}

nav .container .nav-frame .nav-right .drop-down-menu {
  display: none;
  width: 1230px;
  height: 395px;
  position: absolute;
  top: 54px;
  right: 50px;
  background-color: #f2f2f2;
  z-index: 1;
}

nav .container .nav-frame .nav-right .drop-down-menu .footer-frame {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav .container .nav-frame .nav-right .drop-down-menu .footer-frame .footer-style {
  width: 16.66%;
}

nav .container .nav-frame .nav-right .drop-down-menu .footer-frame .footer-style ul {
  margin: 0px;
  padding: 0px;
}

nav .container .nav-frame .nav-right .drop-down-menu .footer-frame .footer-style ul .footer-text-title {
  margin: 18px 0px 18px 24px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

nav .container .nav-frame .nav-right .drop-down-menu .footer-frame .footer-style ul li {
  color: #616161;
  margin: 12px 0px 12px 24px;
}

nav .container .nav-frame .nav-right .drop-down-menu .website-map {
  width: 100%;
  height: 36px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  border-bottom: black 3px solid;
}

nav .container .nav-frame .nav-right .drop-down-menu .website-map .map-link {
  width: 270px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .nav-frame .nav-right .drop-down-menu .website-map .map-link .buy-rightnow {
  margin-right: 5px;
}

nav .container .nav-frame .nav-right .drop-down-menu .website-map a:hover #weight {
  text-decoration: none;
}

nav .container .nav-frame .nav-right #drop-down-menu:checked + .drop-down-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .nav-frame .nav-right .all-microsoft-frame:hover {
  text-decoration: underline;
}

nav .container .nav-frame .nav-right .search-icon {
  width: 16px;
  height: 16px;
  background-image: url(../img/img_icon/搜尋.jpg);
  background-size: contain;
  background-position: center;
  margin-right: 40px;
}

nav .container .nav-frame .nav-right .cart-icon {
  width: 16px;
  height: 16px;
  background-image: url(../img/img_icon/購屋車.jpg);
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}

nav .container .nav-frame .nav-right .login-icon {
  width: 32px;
  height: 32px;
  background-image: url(../img/img_icon/帳號.jpg);
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}

main a {
  color: #0067b8;
}

main .bannerA {
  width: 100%;
  height: 100%;
  position: relative;
}

main .bannerA picture {
  width: 100%;
}

main .bannerA picture img {
  width: 100%;
}

main .bannerA #fake-bannerA {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main .bannerA #fake-bannerA .left-img {
  visibility: hidden;
  background-image: url(../img/img_icon/左箭頭.png);
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

main .bannerA #fake-bannerA .right-img {
  visibility: hidden;
  background-image: url(../img/img_icon/右箭頭.png);
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

main .bannerA #fake-bannerA .arrow-style {
  width: 42px;
  height: 42px;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 2px 2px inset rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 2px 2px inset rgba(0, 0, 0, 0.3);
}

main .bannerA #fake-bannerA .container-percent {
  width: 90%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bannerA #fake-bannerA .container-percent .text-group {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .bannerA #fake-bannerA .container-percent .text-group .text-title {
  font-weight: bolder;
  font-size: 34px;
  line-height: 40px;
}

main .bannerA #fake-bannerA .container-percent .text-group .text-contain {
  font-size: 15px;
  line-height: 20px;
  padding: 12px 0 0;
  font-weight: 400;
}

main .bannerA #fake-bannerA .container-percent .text-group .shopping-frame {
  width: 124px;
  height: 40px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bannerA #fake-bannerA .container-percent .text-group .shopping-frame .buy-rightnow {
  font-size: 15px;
}

main .bannerA #fake-bannerA .container-percent .text-group .shopping-frame .buy-right-arrow {
  font-size: 15px;
}

main .bannerA #fake-bannerA .container-percent .text-group .shopping-frame:hover .link-animation-right {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  right: 5px;
  text-decoration: underline;
}

main .bannerA #fake-bannerA:hover .left-img {
  visibility: visible;
  background-image: url(../img/img_icon/左箭頭.png);
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

main .bannerA #fake-bannerA:hover .right-img {
  visibility: visible;
  background-image: url(../img/img_icon/右箭頭.png);
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

main .shopping-link-frame {
  width: 100%;
  height: 129px;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .shopping-link-frame .choose365 {
  width: 184px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

main .shopping-link-frame .choose365 .img365 {
  width: 40px;
  height: 40px;
  background-image: url(../img/img_icon/365photo-icon.png);
  margin-bottom: 8px;
}

main .shopping-link-frame .choose365 .text365 {
  text-align: center;
}

main .shopping-link-frame .choose365:hover .text365 {
  text-decoration: underline;
}

main .shopping-link-frame .choose-surface {
  width: 184px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .shopping-link-frame .choose-surface .img-surface {
  width: 40px;
  height: 40px;
  background-image: url(../img/img_icon/surface-photo.png);
  margin-bottom: 8px;
}

main .shopping-link-frame .choose-surface:hover .text-surface {
  text-decoration: underline;
}

main .shopping-link-frame .choose-windows10 {
  width: 184px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .shopping-link-frame .choose-windows10 .img-windows10 {
  width: 40px;
  height: 40px;
  background-image: url(../img/img_icon/win10-photo.jpg);
  margin-bottom: 8px;
}

main .shopping-link-frame .choose-windows10:hover .text-windows10 {
  text-decoration: underline;
}

main .cardA {
  width: 100%;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .cardA .card {
  width: 23.875%;
  max-width: 383px;
}

main .cardA .card .card-text-frame {
  width: 100%;
  margin-top: 37px;
}

main .cardA .card .card-text-frame .card-link-frame {
  margin-top: 10px;
}

main .cardA .card .card-text-frame .card-link-frame a {
  margin-right: 16px;
}

main .cardA .card .card-text-frame .a-frame {
  margin-right: 3px;
  margin-top: 10px;
}

main .cardA .card .card-img1 {
  width: 100%;
  max-height: 214px;
  height: auto;
  background-image: url(../img/img_icon/laptop-go.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main .cardA .card .card-img2 {
  width: 100%;
  height: 214px;
  background-image: url(../img/img_icon/365photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main .cardA .card .card-img3 {
  width: 100%;
  height: 214px;
  background-image: url(../img/img_icon/xbox.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main .cardA .card .card-img4 {
  width: 100%;
  height: 214px;
  background-image: url(../img/img_icon/edge.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main .bannerB {
  width: 100%;
  height: 600px;
  padding-top: 48px;
  position: relative;
}

main .bannerB picture {
  width: 100%;
}

main .bannerB picture img {
  width: 100%;
}

main .bannerB #fake-bannerA {
  position: absolute;
  top: 0;
  left: 0;
}

main .bannerB #fake-bannerA .container-percent {
  width: 90%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bannerB #fake-bannerA .container-percent .text-group {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .bannerB #fake-bannerA .container-percent .text-group .text-title {
  font-weight: bolder;
  font-size: 34px;
  line-height: 40px;
}

main .bannerB #fake-bannerA .container-percent .text-group .text-contain {
  font-size: 15px;
  line-height: 20px;
  padding: 12px 0 0;
  font-weight: 400;
}

main .bannerB #fake-bannerA .container-percent .text-group .shopping-frame {
  width: 124px;
  height: 40px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bannerB #fake-bannerA .container-percent .text-group .shopping-frame .buy-rightnow {
  font-size: 15px;
}

main .bannerB #fake-bannerA .container-percent .text-group .shopping-frame .buy-right-arrow {
  font-size: 15px;
}

main .bannerB #fake-bannerA .container-percent .text-group .shopping-frame:hover .link-animation-right {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  right: 5px;
  text-decoration: underline;
}

main .cardB-title {
  width: 100%;
  height: 32px;
  margin-top: 48px;
  margin-bottom: 20px;
}

main .cardB-title h2 {
  font-size: 24px;
  line-height: 28px;
  padding: 36px 0 4px;
  font-weight: 600;
  padding-top: 0;
}

main .cardB {
  width: 100%;
  height: 397.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .cardB .card {
  width: 382px;
  height: 100%;
}

main .cardB .card .card-text-frame {
  width: 100%;
  margin-top: 37px;
}

main .cardB .card .card-text-frame .card-link-frame {
  margin-top: 10px;
}

main .cardB .card .card-text-frame .card-link-frame a {
  margin-right: 16px;
}

main .cardB .card .card-text-frame .a-frame {
  margin-right: 3px;
  margin-top: 10px;
}

main .cardB .card .card-img1 {
  width: 382px;
  height: 214px;
  background-image: url(../img/img_icon/laptop4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main .cardB .card .card-img2 {
  width: 382px;
  height: 214px;
  background-image: url(../img/img_icon/microsoft-team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main .cardB .card .card-img3 {
  width: 382px;
  height: 214px;
  background-image: url(../img/img_icon/microsoft365-business.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main .cardB .card .card-img4 {
  width: 382px;
  height: 214px;
  background-image: url(../img/img_icon/four-people.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main .social-media-link {
  width: 100%;
  height: 32px;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .social-media-link span {
  margin-right: 12px;
  font-size: 15px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .social-media-link a:hover .mask {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

main .social-media-link .fb-link {
  width: 32px;
  height: 32px;
  background-image: url(../img/img_icon/fb_microsoft.png);
  margin-right: 12px;
}

main .social-media-link .fb-link .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

main .social-media-link .yt-link {
  width: 32px;
  height: 32px;
  background-image: url(../img/img_icon/youtube-microsoft.png);
  margin-right: 12px;
}

main .social-media-link .yt-link .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

footer {
  background: #f2f2f2;
  margin-top: 48px;
}

footer .footer-frame {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-frame a:hover {
  text-decoration: underline;
}

footer .footer-frame .footer-style {
  width: 16.66%;
}

footer .footer-frame .footer-style ul {
  margin: 0px;
  padding: 0px;
}

footer .footer-frame .footer-style ul .footer-text-title {
  margin: 36px 0px 4px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

footer .footer-frame .footer-style ul li {
  color: #616161;
  padding: 8px 0;
}

footer .footer-base {
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-base .language {
  width: 109.25px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .footer-base .language .earth-size {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 24px;
}

footer .footer-base .language span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-base .language:hover .earth-size {
  text-decoration: unset;
}

footer .footer-base .language:hover span {
  text-decoration: underline;
}

footer .footer-base ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .footer-base ul li {
  margin: 0px 24px 4px 0px;
}

@media (max-width: 1600px) {
  .nav-right {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-right .all-microsoft-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  .nav-right .all-microsoft-frame .down-arrow {
    width: 16px;
    height: 16px;
    background-image: url(../img/img_icon/下箭頭.jpg);
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    margin-right: 25px;
    text-decoration: none;
  }
  .nav-right .drop-down-menu {
    display: none;
    width: 1230px;
    height: 395px;
    position: absolute;
    top: 54px;
    right: 50px;
    background-color: #f2f2f2;
    z-index: 1;
  }
  .nav-right .drop-down-menu .footer-frame {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav-right .drop-down-menu .footer-frame .footer-style {
    width: 16.66%;
  }
  .nav-right .drop-down-menu .footer-frame .footer-style ul {
    margin: 0px;
    padding: 0px;
  }
  .nav-right .drop-down-menu .footer-frame .footer-style ul .footer-text-title {
    margin: 18px 0px 18px 24px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
  }
  .nav-right .drop-down-menu .footer-frame .footer-style ul li {
    color: #616161;
    margin: 12px 0px 12px 24px;
  }
  .nav-right .drop-down-menu .website-map {
    width: 100%;
    height: 36px;
    background-color: #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    border-bottom: black 3px solid;
  }
  .nav-right .drop-down-menu .website-map .map-link {
    width: 270px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-right .drop-down-menu .website-map .map-link .buy-rightnow {
    margin-right: 5px;
  }
  .nav-right .drop-down-menu .website-map a:hover .buy-right-arrow.weight {
    text-decoration: none;
  }
  .nav-right #drop-down-menu:checked + .drop-down-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-right .all-microsoft-frame:hover {
    text-decoration: underline;
  }
  .nav-right .search-icon {
    width: 16px;
    height: 16px;
    background-image: url(../img/img_icon/搜尋.jpg);
    background-size: contain;
    background-position: center;
    margin-right: 40px;
  }
  .nav-right .cart-icon {
    width: 16px;
    height: 16px;
    background-image: url(../img/img_icon/購屋車.jpg);
    background-size: contain;
    background-position: center;
    margin-right: 10px;
  }
  .nav-right .login-icon {
    width: 32px;
    height: 32px;
    background-image: url(../img/img_icon/帳號.jpg);
    background-size: contain;
    background-position: center;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=microsoft.css.map */