* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 12px;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    border: none;
}

li{
    list-style: none;
}

/* navBar */
.container {
    max-width: calc(1600px + 10%);
    height: 54px;
    padding: 0 5%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}

.nav-left {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-left .style {
    margin: 0 8px;
}

.nav-left .logo {
    width: 108px;
    height: 23px;
    background-image: url(./img/microsoft-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left:13px;
}

.nav-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.down-arrow{
    width: 16px;
    height: 16px;
    background-image: url(./img/img_icon/下箭頭.jpg);
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    margin-right: 25px;
}

.search-icon{
    width: 16px;            
    height: 16px;
    background-image: url(./img/img_icon/搜尋.jpg);
    background-size: contain;
    background-position: center;
    margin-right: 40px;
}

.cart-icon{
    width: 16px;            
    height: 16px;
    background-image: url(./img/img_icon/購屋車.jpg);
    background-size: contain;
    background-position: center;
    margin-right: 10px;

}
.login-icon{
    width: 32px;            
    height: 32px;
    background-image: url(./img/img_icon/帳號.jpg);
    background-size: contain;
    background-position: center;
    margin-right: 10px;

}

/* banner */

.bannerA{
    width: 100%;
    height: 600px;
    background-color: aqua;
}

/* footer */
.footer-frame{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}